/build
/temp
/electron-dist-new
/node_modules
dist-app/app.exe
/src-web/temp
server/server.exe
/server
/.idea
/logs
*.onnx
src-web/server-config.json
model_preference.json
setup-nsis-cache.ps1
package-lock.json
package-lock.json
/__pycache__
src-web/server-config.json
node_modules
/dist
/.agents
/.trae
*.py
AGENTS.md
